/*------------------------*/
/*--Configurações Básicas--*/
/*------------------------*/

/*Zerando bordas para ter maior dominio sobre os box*/
*{
    margin: 0;
    padding: 0;
    /*Facilita a manipulação da largura e altura dos elementos*/
    /*Seleciona cada elemento do html e aplica essas propriedades */
    box-sizing: border-box;
}

html{
    background-color: #fff;
    /*cor da fonte*/
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300; /*de acordo com a fonte que foi importada*/
    /*Otimiza a renderização da fonte para leitura, tendo melhor qualidade*/
    text-rendering: optimizeLegibility;
    font-size: 20px;
}

.row{
    /* Define a largura máxima da linha */
    max-width: 1140px;
    /*Define que o container vai ficar centralizado*/
    margin: 0 auto;
}


/*----------------------------*/
/*--Configurações Cabeçalho--*/
/*--------------------------*/

header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),  url(img/img-hero-header.jpg);
    /*define altura do elemento*/
    /*100% da altura do viewport*/
    height: 100vh;
    /*define o tamanho da imagem de fundo*/
    background-size: cover;
    /*define a posição da imagem de fundo*/
    background-position:center;
}

h1{
    margin: 0;
    /*margem abaixo do elemento h1*/
    margin-bottom: 35px;
    color: #fff;
    font-size: 240%;
    /*espessura*/
    font-weight:300;
    /*espaçamento entre palavras*/
    word-spacing: 4px;
    /*espaçamento entre letras*/
    letter-spacing: 1px;

}

.hero-text-box{
    width: 1000px;
    position: absolute;
    /*posiciona a caixinha na metade vertical da tela */
    top: 61%;
    /*posiciona a caixinha na metade horizontal da tela */
    left: 46%;
    /* usamos transform:translate() para diminuir o espaçamento/distância*/
    transform: translate(-50%, -50%);

}

.btn:link,
.btn:visited{
    /*define a decoração do texto*/
    text-decoration: none;
    font-weight: 300;
    padding: 10px 30px;
    border-radius: 200px;
    margin-right: 25px;
    transition: background-color 0.7s, border 0.7s;
}

.btn-full:link,
.btn-full:visited{
    background-color: #007BC2;
    border: 1px solid #007BC2;
    color: #fff;
    
}

.btn-ghost:link,
.btn-ghost:visited{
    border: 1px solid #007BC2;
    color: #007BC2;
}

.btn-full:hover{
    background-color: #005A8F;
    border: 1px solid #005A8F;
}

.btn-ghost:hover{
    border: 1px solid #005A8F;
    color: #fff;
}


/*----------------------------*/
/*--Configurações Menu-------*/
/*--------------------------*/

.logo{
    height: 100px;
    margin-top: 20px;
    float: left;
}

.main-nav{
    float: right;
    list-style: none;
    margin-top: 50px;
}

.main-nav li{
    /*cada elemento li deixe outro elemento ficar ao lado*/
    display: inline-block;
    margin-left: 20px;
    
}

.main-nav li a:link,
.main-nav li a:visited{
    color: #fff;
    text-decoration: none;
    text-transform: lowercase;
    border: 2px solid transparent;
    border-radius: 200px;
    padding: 4px 25px;
    transition: border 0.3s;

}

.main-nav li a:hover{

    border:2px solid #007BC2;
}