h2 {
    text-align: center;
    margin: 50px 0 10px 0;
}

img {
    /* Máimo de 100% do container */
    max-width: 100%;
    /* display: block; */
    border-radius: 3px;
}

.galeria {
    margin: 0 auto;
    max-width: 2000px;
    display: flex;
    flex-wrap:wrap;
    /*justify-content: center;*/
}

/*.item{
    flex-direction:row;
    justify-content:center;
    align-items:stretch;  
    align-content:stretch;
    flex-grow:1;
}

.item-selected{
    flex-grow: 2;
}*/

.galeria > div {
    min-width: 300px;
    padding: 10px;
    flex: 1 2 200px;
}